spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${IP_ADDR:http://127.0.0.1:9100}
      client:
        registration:
          client-app:
            provider: spring
            client-id: gateway-app
            client-secret: 12345
            authorization-grant-type: authorization_code
            redirect-uri: http://127.0.0.1:8090/authorized
            scope:
            - openid
            - profile
            client-name: client-app
        provider:
          spring:
            issuer-uri: ${IP_ADDR:http://127.0.0.1:9100}
  cloud:
    gateway:
      routes:
      - id: msvc-oauth
        uri: lb://msvc-oauth
        predicates:
        - Path=/api/sav/security/**
        filters:
        - StripPrefix=3
      - id: msvc-users
        uri: lb://msvc-users
        predicates:
        - Path=/api/sav/users/**
        filters:
        - StripPrefix=3
      - id: msvc-sav-workstaff
        uri: lb://msvc-sav-workstaff
        predicates:
        - Path=/api/sav/workstaff/**
        filters:
        - StripPrefix=3
      - id: sav-mvsc-medicalcontrol
        uri: lb://sav-mvsc-medicalcontrol
        predicates:
        - Path=/api/sav/medical/**
        filters:
        - StripPrefix=3